/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*
-----------------------------------------------------------
Register.cshtml
-----------------------------------------------------------*/
.register-page {
    display: flex;
    flex-direction: column;
}
.BookContent {
    display: flex;
    border: 1px solid #ccc;
}

.BookINUP {
    padding: 15px;
    margin: 8px;
}

.layout_header {
    display: flex;
    width: 65%;
    justify-content: flex-end;
}
.bg-header {
    background-color: #800000
}
.navbar-color {
    color: #ffff;
}
/*----------------------------------------
GetAllBooks
-----------------------------------------*/
.box {
    text-align: center;
    background: #800000;
    opacity: 1;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    float: left;
    flex-wrap: wrap;
    margin-left: 200px;
    color: white;
    padding-top: 5px;
}
.text2 {
    font-family: 'Poppins', sans-serif;
    float: right;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 180px;
    color: white;
    padding-top: 10px;
}



.BookContainer {
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Title {
    top: 82px;
    left: 174px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 16px;
    margin-left: 13%;
}

.books {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}
.book {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
}

.Image {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    justify-content: center;
}

.book_image {
    margin-top: 10px;
    width: 109px;
    height: 135px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.card {
    width: 235px;
    display: flex;
    justify-content: center;
    margin: 7px;
}
.image_background {
    width: 232px;
}

.details {
    padding: 10px;
}

.bookName {
    top: 327px;
    left: 191px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.by {
    top: 349px;
    left: 191px;
    width: 100px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.rating {
    display: flex;
    top: 367px;
    left: 191px;
    width: 33px;
    height: 16px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.rate {
    margin-left: 28%;
}

.number {
    margin-left: 24px;
    top: 367px;
    left: 228px;
    width: 18px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.price {
    top: 388px;
    left: 191px;
    width: 48px;
    height: 16px;
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-top: 15px;
}

.ButtonsDiv {
    display: flex;
    justify-content: space-between;
}

.AddtoCartbutton {
    background: #9f1f1f;
    color: white;
    border: 1px solid #ccc;
}

.wishlistbutton {
    background: white;
    color: black;
    border: 1px solid #ccc;
}